@import url(style.css);

figure svg > * {
  opacity: 1;
}

figure svg #ground {
  opacity: 1;
}
figure.scaffold svg #scaffold {
  opacity: 1;
}
figure.head svg #head {
  opacity: 1;
}
figure.body svg #body {
  opacity: 1;
}
figure.arms svg #arms {
  opacity: 1;
}
figure.legs svg #legs {
  opacity: 1;
}

svg {
  width: 100vw;
  max-height: 50vh;
  padding: 3rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/5fede1f8-9818-4868-8831-ab9e874dacb7/d32vrbp-ef797cdf-b583-42f9-8d34-b5ab349f3a31.jpg);*/
}

body {
  height: 100vh;
  width: 100vw;
}

#alphabet-hold li button {
  background-color: black;
  color: white;
  border-radius: 2px;
  height: 2.2rem;
  width: 2.2rem;
}

#alphabet-hold {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  list-style: none;
  align-content: center;
  gap: 0.3rem;
  margin: 9rem 0 0 0;
}

#alphabet-hold li button:hover {
  background-color: gray;
  cursor: pointer;
}

#catagory {
  text-align: center;
}

#correct-word-ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

#correct-word-ul li {
  margin: 0 1rem 0;
  font-size: 35px;
  border-bottom: 2px solid black;
  color: white;
}
