/* font-family: 'Shalimar', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");
/* font-family: 'Fredericka the Great', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

figure svg > * {
  opacity: 0;
}

figure svg #ground {
  opacity: 1;
}
figure.scaffold svg #scaffold {
  opacity: 1;
}
figure.head svg #head {
  opacity: 1;
}
figure.body svg #body {
  opacity: 1;
}
figure.arms svg #arms {
  opacity: 1;
}
figure.legs svg #legs {
  opacity: 1;
}

svg {
  width: 100vw;
  max-height: 21rem;
  padding: 3rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(39, 39, 39);
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #2f2f2f 79px,
      #484848 81px,
      transparent 81px
    ),
    linear-gradient(rgb(52, 52, 52) 0.2em, transparent 0.1em);
  background-size: 100% 2em;
}

#alphabet-hold li button {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 2px;
  height: 2.5rem;
  width: 2.5rem;
  margin: 5px;
  font-size: 18px;
}

#alphabet-hold {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  list-style: none;
  align-content: center;
  max-width: 40rem;
  margin: auto;
  box-shadow: 0 0 10px black;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(17, 17, 17);
}

#alphabet-hold li button:hover {
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

#alphabet-hold li button:active {
  transform: scale(0.85);
  box-shadow: 0 1px 3px black;
}

#correct-word-ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

#correct-word-ul li {
  margin: 0 1rem 3rem 1rem;
  font-size: 20px;
  border-bottom: 2px solid black;
  color: transparent;
  width: 1rem;
  text-align: center;
}

.make-visible {
  color: rgb(0, 0, 0);
}

.right-answer {
  box-shadow: 0px 0px 5px rgb(50, 255, 43);
}

.wrong-answer {
  box-shadow: 0px 0px 5px rgb(231, 0, 0);
}

.mark-disabler {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Conqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#guesses-left {
  border: 2px solid black;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  width: 15rem;
  border-radius: 30px;
  padding: 0.3rem;
  font-size: 17px;
  color: white;
  box-shadow: 0 0 5px rgb(121, 121, 121);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border: none;
}

.reset-button {
  background-color: #000000e5;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-family: "Helvetica Neue";
}

.reset-button:hover {
  box-shadow: 0 0 1px rgb(255, 170, 218);
  color: rgb(255, 170, 218);
}

/* ━━━━━━━━━━| SLIDER |━━━━━━━━━━ */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  z-index: 1;
  display: none;
}

.slider.show {
  display: flex;
}

.slider p {
  font-size: 30px;
  min-width: 13rem;
  background-color: rgb(216, 182, 182);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-family: "Fredericka the Great", cursive;
}

.slider button {
  background-color: rgb(32, 32, 32);
  font-family: "Fredericka the Great", cursive;
}

/* ━━━━━━━━━━| MEDIA Q |━━━━━━━━━━ */
@media screen and (max-width: 820px) {
  body {
    background-image: linear-gradient(
        /* 90deg, */ transparent 79px,
        #2f2f2f 79px,
        #484848 81px,
        transparent 81px
      ),
      linear-gradient(rgb(52, 52, 52) 0.2em, transparent 0.1em);
  }
  svg {
    max-height: 19rem;
    padding: 3rem;
  }
}

@media screen and (max-height: 670px) {
  svg {
    max-height: 15rem;
    padding: 2rem;
  }
}
@media screen and (max-height: 620px) {
  svg {
    max-height: 11rem;
    padding: 2rem;
  }
}
