@import url(style.css);

figure svg > * {
  opacity: 1;
}

figure svg #ground {
  opacity: 1;
}
figure.scaffold svg #scaffold {
  opacity: 1;
}
figure.head svg #head {
  opacity: 1;
}
figure.body svg #body {
  opacity: 1;
}
figure.arms svg #arms {
  opacity: 1;
}
figure.legs svg #legs {
  opacity: 1;
}

figure {
  border: 2px solid black;
  width: 33vw;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/5fede1f8-9818-4868-8831-ab9e874dacb7/d32vrbp-ef797cdf-b583-42f9-8d34-b5ab349f3a31.jpg);*/
}

body {
  height: 100vh;
  width: 100vw;
}
