/* font-family: 'Shalimar', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Shalimar&display=swap");
/* font-family: 'Fredericka the Great', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: white;
  font-weight: normal;
  user-select: none;
  font-family: "Fredericka the Great", cursive;
  margin: 0 1rem 4rem 1rem;
  text-align: center;
  line-height: 4rem;
  text-shadow: 0 0 4px rgb(0, 0, 0);
  font-size: 42px;
  max-width: 600px;
}

h2 {
  color: rgb(255, 255, 255);
  font-weight: normal;
  user-select: none;
  font-family: "Fredericka the Great", cursive;
  text-align: center;
  text-shadow: 0 0 4px rgb(0, 0, 0);
  font-size: 30px;
  max-width: 600px;
}

a {
  text-decoration: none;
  text-align: center;
  padding: 2rem 5rem;
  box-shadow: 0 0 2px rgb(255, 96, 96);
  background: rgba(0, 0, 0, 0.637);
  color: rgb(255, 255, 255);
  user-select: none;
  font-family: "Shalimar", cursive;
  font-size: 4rem;
}

a:hover {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 6px rgb(163, 16, 16);
  transition: all 0.2s ease-out;
}

#bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#made-by-txt {
  color: rgb(240, 240, 240);
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid rgba(155, 0, 0, 0.411);
  width: 13rem;
  font-family: "Shalimar", cursive;
  user-select: none;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  margin-top: 4rem;
}

#names-txt {
  margin-top: 0.5rem;
  color: rgb(240, 240, 240);
  font-family: "Shalimar", cursive;
  font-size: 3rem;
  user-select: none;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
